<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>Anonyrai</title>
</head>
<body>
<h1>みんなも匿名のアライさんになるのだ！</h1>
<form action="{% url 'result' %}" method="GET">
    {{ form.as_table }}
    <button type="submit">送信</button>
</form>

<br>
<a href="">アライさんのツイッターはこちらなのだ！</a>
<br><br><br><br><br>
------------------------------------あばうと あらいさん なのだ！--------------------------------------------------<br>

ツイッターは匿名だけれどもアカウントを作らないと呟けない、アカウントを作るほどじゃないけど気持ちを聞いてほしいフレンズもたくさんいると思うのだ。そんな隠れたフレンズたちに代わってアライさんがツイートするのだ！クソリプとかも全部アライさんが引き受けるのだ！<br>
特に正しい使い方を考えているわけではないけれども人を傷つける使い方はしないでほしいのだ。匿名を利用した他のフレンズへの誹謗中傷などはアライさんの個人的な判断で削除させてもらうのだ！<br>
迷惑行為に使われないためにリプライとリンクの貼り付けは禁止なのだ！何かお話があればダイレクトメールで連絡してほしいのだ！
<br>
迷惑行為、誹謗中傷のために利用した場合はIPをブロックさせてもらうのだ。<br>
収集したIPアドレスは上記のブロック以外には利用しないのだ。ただし犯罪などに使われて警察などの機関から要請があった場合にはこの限りではないのだ。<br>
<br>
迷惑行為には以下のような内容が含まれるのだ。<br>
スクリプトなどを用いた自動投稿<br>
直接的な犯罪行為<br>
<br>
誹謗中傷には以下のような内容が含まれるのだ。<br>
Twitterで禁止されている誹謗中傷<br>
不特定多数に対する暴言<br>
あらゆるカテゴリーに対する過度な人格攻撃<br>
<br><br>
以上のあばうと あらいさん なのだ！は更新される場合があるのだ。更新後も投稿時のあばうと あらいさん なのだ！が適用されるのだ。<br>
<br><br><br><br><br>
------------------------------------更新履歴 なのだ！----------------------------------------------------
